/*
html {
	background-color: red;
}
*/

table {
	width: 100%;
	margin-bottom: 20px;
	border: 3px solid blue;
	font-weight: bold;
	/*border-collapse: collapse;*/ 
}

th {
	background: steelblue
}

td {
	text-align: center;
	vertical-align: top;
	background: skyblue
}

.weather_description {
	text-align: left;
}