body {
	background-color: rgb(234, 0, 255);
    font-family: 'Nunito Sans', sans-serif;
}
nav {
	margin-left: 20px;
	display: flex;
	gap: 2em;
	align-items: center;
}
a {
	background-color: skyblue;
	border: 2px solid gray;
	border-radius: 5px;
	color: darkblue;
	text-decoration: none;
	padding: 5px 10px;
	font-weight: 600;
}
a.active {
	border: 2px solid black;
}
nav a:hover {
	background-color: steelblue;
	color: white;
}
.meteo {
	display: flex;
	gap: 10px;
	align-items: center;
}
.weather {
	padding: 1.2em;
	margin: 1.2em;
	background-color: rgb(30, 255, 0);
	border: 2px;
	border-radius: 0.5em;
}
caption {
	position: relative;
}
.logo_api {
	background-color: blueviolet;
	display: flex;
	flex-direction: column;
	width: 11em;
	/* margin-right: -1.8em; */
	position: absolute;
	/* top: 10px; */
	/* left: 10px; */
}
.logo_api::after {
	content: "Источник данных";
	text-align: center;
	font-size: 1.2em;
	font-weight: 800;
}
table {
	width: 100%;
	border: 3px solid blue;
	border-radius: 0.5em;
}
th {
	background: steelblue;
	font-weight: 600;
}
td {
	text-align: center;
	vertical-align:middle;
	background:white;
	font-size: 0.8em;
	font-weight: 400;
}
.left_margin {
	text-align: left;
}
.wind_direction_column {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	height: 1.7em;
}
.last_column {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
	height: 1.7em;
}