<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прием данных запроса, визуализация на странице и отправка на сервер API</title>
</head>
<body>
    <h1>Данные запроса получены!</h1>
	<p>широта = {{lat_rp}}</p>
	<p>долгота = {{lon_rp}}</p>
	<p>язык ответа = {{lang_rp}}</p>
	<h1>Запрос отправлен на сервер</h1>
	<h1>От сервера получен ответ</h1>
	<p>{{json_pj}}</p>
</body>
</html>