<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прием данных запроса и визуализация на странице</title>
</head>
<body>
    <h3>Данные запроса получены!</h3>
	<p>широта = {{lat_rp}}</p>
	<p>долгота = {{lon_rp}}</p>
	<p>язык ответа = {{lang_rp}}</p>
	<h3>■ Запрос отправлен на сервер ■</h3>
	<h5>▼ От сервера получен ответ ▼</h5>
	<p>{{json_pj}}</p>
	<p>время наблюдения в формате Unixtime: {{obs_time_rp}}</p>
	<p>название страны: {{country_name_rp}}</p>
	<p>название региона: {{province_name_rp}}</p>
	<p>название населенного пункта: {{locality_name_rp}}</p>
</body>
</html>