{% load static %}
{% load humanize %}
<!--
{% load humanize %} добавлен 17.02.2023
для разделения запятой классов многозначных чисел при выводе в шаблоне
-->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Weights page </title>
    <link rel="stylesheet" href = {% static 'css/weight_page.css' %} >
</head>
<body>
    <a href="{% url 'main*page' %}"> Таблица метеорологических данных </a>
    <img src="{% static 'img/Cloud.jpg' %}" />
    <a href="{% url 'weight_page' %}"> Таблица привеса ульев </a>
    <a href="#"> Таблица данных о пчелиных семьях </a>
    <div class="weight">
        <table>
        
            <caption><h2>Таблица привеса ульев</h2></caption>
        
            <tr>
                <th> Порядковый номер фиксации веса улья (ID) </th>
                <th> Номер улья </th>
                <th> Дата и время фиксации веса улья </th>
                <th> Вес улья, гр </th>
            </tr>
        
            {% for el in weight_beehive_array %}
            <tr>
                <td width="25%">{{el.id}}</td>
                <td width="25%">{{el.beehive_number_id}}</td>
                <td width="25%">{{el.date_time_weight_fixation|date:"Y.m.d H:i"}}</td>
                <td width="25%">{{el.weight_beehive|intcomma}}</td>
				<!-- |intcomma => добавлено 17.02.2023 разделение классов запятой в столбце 'Вес улья, гр' -->
            </tr>
            {% endfor %}
        
        </table>
        </div>
        
</body>
</html>