<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Request</title>
</head>
<body>
    <h1>Данная страница предназначена для экспериментов с запросами в Django!!!</h1>
    <h2>Здесь происходит формирование и отправка запроса</h2>
	<form action="{% url 'test*response' %}" method="">
        <label>Имя</label>
        <input name="name">
        <label>Телефон</label>
        <input name="phone">
        <button type="submit">Отправить</button>
    </form>
</body>
</html>